.faq {
  padding: 70px 0;
  @include sm {
    padding: 20px 0;
  }
  .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .faq-single & {
      gap: 50px;
      @include sm {
        gap: 20px;
      }
    }
    @include xs {
      grid-template-columns: 1fr;
    }
    .faq-Q {
      padding: 67px 52px 67px 0;
      position: relative;
      @include ltr {
        padding: 67px 0 67px 52px;
      }
      @include md {
        padding: 30px 30px 30px 0;
        @include ltr {
          padding: 30px 0 30px 30px;
        }
      }
      @include sm {
        padding: 20px 20px 20px 0;
        @include ltr {
          padding: 20px 0 20px 20px;
        }
      }
      .faq-single & {
        padding: 0;
        @include ltr {
          padding: 0;
        }
      }
      .Q-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(darken($setting_primary_color, 25%), $alpha: 0.7);
        }
      }
      .Q-title {
        font-size: 40px;
        font-weight: $weight_bold;
        color: #fff;
        margin-bottom: 32px;
        @include sm {
          font-size: 30px;
          margin-bottom: 20px;
        }
      }
      .faq-tablist {
        display: flex;
        flex-direction: column;
        gap: 16px;
        [role="tab"] {
          position: relative;
          background-color: rgba(
            lighten($setting_primary_color, $amount: 10%),
            0.2
          );
          padding: 0;
          transition: all 0.3s ease-in-out;
          .faq-single & {
            background-color: darken($setting_primary_color, 25%);
            overflow: hidden;
          }
          .ques {
            transition: all 0.3s ease-in-out;
            position: relative;
            z-index: 2;
            margin: 0;
            text-align: start;
            color: #fff;
            font-size: 18px;
            font-weight: $weight_bold;
            background-color: rgba(
              lighten($setting_primary_color, $amount: 10%),
              0.2
            );
            padding: 12px;
            border: 1px solid darken($setting_primary_color, $amount: 25%);
            width: 100%;
            @include md {
              font-size: 16px;
              padding: 10px;
            }
            @include sm {
              font-size: 12px;
              padding: 8px;
            }
            .faq-single & {
              background-color: transparent;
              @include md {
                font-size: 14px;
              }
              @include sm {
                font-size: 12px;
              }
            }
          }
          &[aria-selected="true"] {
            background-color: $setting_primary_color;
            .faq-single & {
              background-color: darken($setting_primary_color, 25%);
              .ques {
                background-color: $setting_primary_color;
                color: #fff;
                padding: 30px 20px;
                @include sm {
                  padding: 20px 10px;
                }
              }
            }
            .ques {
              padding: 30px 20px 30px 30px;
              background-color: #fff;
              color: $setting_primary_color;
              transform: translateX(-10px);
              border: none;
              @include ltr {
                transform: translateX(10px);
              }
              @include md {
                padding: 20px 10px 20px 20px;
              }
              @include sm {
                transform: translateX(-6px);
                @include ltr {
                  transform: translateX(6px);
                }
              }
            }
          }
        }
      }
    }
    .faq-A {
      padding: 67px 54px;
      border: 4px solid $setting_primary_color;
      @include md {
        padding: 30px;
      }
      .faq-single & {
        padding: 0;
        border: none;
        position: relative;
        .faq-A-inner {
          padding: 44px 54px;
          border: 4px solid $setting_primary_color;
          position: sticky;
          top: 50px;
          @include md {
            padding: 30px;
          }
          @include xs {
            // position: unset;
          }
        }
      }
      .A-title {
        font-size: 40px;
        font-weight: $weight_bold;
        color: $setting_primary_color;
        margin-bottom: 32px;
        @include sm {
          font-size: 30px;
          margin-bottom: 20px;
        }
      }
      .answer {
        padding: 53px 41px 28px;
        box-shadow: 0px 8px 24px 0px #0000000f;
        font-size: 18px;
        font-weight: $weight_light;
        color: $setting_text_color;
        transition: all 0.5s ease-in-out;
        @include md {
          font-size: 16px;
          padding: 30px;
        }
        @include sm {
          font-size: 14px;
          padding: 20px;
        }
      }
    }
  }
}
