.packages {
  padding: 70px 0;
  @include sm {
    padding: 20px 0;
  }

  .packages-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 40px;
      font-weight: $weight_bold;
      color: darken($setting_primary_color, $amount: 30%);
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 56px;
      text-align: center;
      margin-bottom: 48px;
      @include md {
        font-size: 36px;
        max-height: 50.5px;
        margin-bottom: 28px;
      }
      @include sm {
        font-size: 26px;
        max-height: 36.5px;
      }
      @include xs {
        font-size: 22px;
        max-height: 31px;
      }
    }
    .packages-flex {
      display: flex;
      gap: 20px;
      @include sm {
        gap: 12px;
      }
      @include xs {
        flex-wrap: wrap;
      }
      .package {
        background-color: lighten($setting_text_color, $amount: 65%);
        padding: 1px;
        height: fit-content;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
        width: calc(33% - 8px);
        transition: all 0.4s ease-in-out;
        @include sm {
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
          width: calc(33% - 6px);
        }
        @include xs {
          width: 100%;
          clip-path: none;
        }
        &:hover {
          background-color: $setting_primary_color;
          .inner-package {
            .info {
              background-color: lighten($setting_primary_color, $amount: 50%);
              .price {
                .numb {
                  color: $setting_primary_color;
                }
              }
            }
          }
        }
        .inner-package {
          background-color: #fff;
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
          padding: 20px 20px 50px;
          @include sm {
            padding: 10px 10px 40px;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
          }
          @include xs {
            clip-path: none;
            padding: 10px 10px 20px;
          }
          .info {
            background-color: lighten($setting_text_color, $amount: 65%);
            padding: 20px;
            margin-bottom: 20px;
            transition: all 0.4s ease-in-out;
            @include sm {
              padding: 10px;
              margin-bottom: 12px;
            }
            .package-title {
              border: 1px solid #ffffff;
              background-color: lighten($setting_primary_color, $amount: 55%);
              width: fit-content;
              padding: 4px;
              font-size: 14px;
              font-weight: $weight_medium;
              color: darken($setting_primary_color, $amount: 30%);
              margin-bottom: 16px;
              @include sm {
                font-size: 12px;
              }
            }
            .price {
              display: flex;
              align-items: center;
              gap: 5px;
              .numb {
                font-size: 48px;
                font-weight: $weight_bold;
                color: #000;
                transition: all 0.4s ease-in-out;
                @include sm {
                  font-size: 28px;
                }
              }
              .currency {
                font-size: 18px;
                font-weight: $weight_bold;
                color: darken($setting_primary_color, $amount: 30%);
                @include sm {
                  font-size: 16px;
                }
              }
            }
          }
          .package-details {
            padding: 0 6px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;

            overflow: hidden;
            max-height: 322px;
            @include md {
              max-height: 305px;
            }
            @include sm {
              padding: 0;
              max-height: 288px;
            }
            .details-item {
              display: flex;
              align-items: start;
              gap: 8px;
              .dot {
                color: $setting_text_color;
                font-size: 25px;
                margin-top: -10px;
              }
              .item-p {
                color: $setting_text_color;
                font-size: 18px;
                font-weight: $weight_light;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                max-height: 51px;
                @include md {
                  font-size: 16px;
                  max-height: 45px;
                }
                @include sm {
                  font-size: 12px;
                  max-height: 34px;
                }
              }
            }
          }
          .knowus-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;

            z-index: 5;
            @include xs {
              bottom: 10px;
            }
            .btn-text {
              font-size: 18px;
              color: $setting_primary_color;
              font-weight: $weight_bold;
              padding: 0 34px;
              @include sm {
                padding: 0 15px;
              }
              @include xs {
                font-size: 16px;
                padding: 0;
              }
            }
            .btn-arrow {
              width: 100%;
              height: 20px;
              background-color: #fff;
              clip-path: polygon(0 0, 50% 100%, 100% 0);
              position: relative;
              transition: all 0.4s ease-in-out;
              max-width: 176px;
              &::after {
                content: "";
                position: absolute;
                inset-inline-start: 4px;
                top: 2px;
                width: calc(100% - 8px);
                height: calc(100% - 4px);
                clip-path: polygon(0 0, 50% 100%, 100% 0);
                background-color: $setting_primary_color;
                transform: translateY(-1px);
                transition: all 0.4s ease-in-out;
              }
            }
            &:hover {
              .btn-arrow {
                transform: translateY(4px);
                &::after {
                  background-color: darken(
                    $setting_primary_color,
                    $amount: 20%
                  );
                  transform: translateY(1px);
                  height: calc(100% - 6px);
                  width: calc(100% - 20px);
                  inset-inline-start: 10px;
                }
              }
            }
          }
        }
        @include ltr {
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

          .inner-package {
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          }
          @include sm {
            clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
            .inner-package {
              clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
            }
          }
          @include xs {
            clip-path: none;
            .inner-package {
              clip-path: none;
            }
          }
        }

        &:nth-of-type(3n + 2) {
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 95%, 0 100%);
          .inner-package {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 95%, 0 100%);
          }
          @include sm {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 94%, 0 100%);
            .inner-package {
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 94%, 0 100%);
            }
          }
          @include xs {
            clip-path: none;
            .inner-package {
              clip-path: none;
            }
          }
          .package-details {
            overflow: hidden;
            max-height: 252px;
            @include md {
              max-height: 235px;
            }
            @include sm {
              max-height: 218px;
            }
          }
          @include ltr {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 95%, 0 100%);
            .inner-package {
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 95%, 0 100%);
            }
            @include sm {
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 94%, 0 100%);
              .inner-package {
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 94%, 0 100%);
              }
            }
            @include xs {
              clip-path: none;
              .inner-package {
                clip-path: none;
              }
            }
          }
        }
        &:nth-of-type(3n + 3) {
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          .inner-package {
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          }
          @include sm {
            clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
            .inner-package {
              clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
            }
          }
          @include xs {
            clip-path: none;
            .inner-package {
              clip-path: none;
            }
          }
          @include ltr {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
            .inner-package {
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
            }
            @include sm {
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
              .inner-package {
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
              }
            }
            @include xs {
              clip-path: none;
              .inner-package {
                clip-path: none;
              }
            }
          }
        }
        &:nth-last-of-type(1) {
          @include xs {
            margin-bottom: 50px;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 90%, 0 100%);
            .inner-package {
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 90%, 0 100%);
              padding: 10px 10px 60px;
            }
            @include ltr {
              margin-bottom: 50px;
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 90%, 0 100%);
              .inner-package {
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 90%, 0 100%);
                padding: 10px 10px 60px;
              }
            }
          }
        }
      }
    }
    .packages-bottom {
      background-color: lighten($setting_text_color, $amount: 65%);
      width: 100%;
      padding: 37px 30px 30px;
      clip-path: polygon(50% 0%, 100% 80%, 100% 100%, 0 100%, 0% 80%);
      margin-top: -90px;
      @include xs {
        padding: 37px 20px 20px;
        clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%);
      }
      .more-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        z-index: 5;
        @include xs {
          bottom: 10px;
        }
        .btn-text {
          font-size: 18px;
          color: $setting_primary_color;
          font-weight: $weight_bold;
          padding: 0 34px;
          @include sm {
            padding: 0 15px;
          }
          @include xs {
            font-size: 16px;
            padding: 0;
          }
        }
        .btn-arrow {
          width: 100%;
          height: 20px;
          background-color: #fff;
          clip-path: polygon(0 0, 50% 100%, 100% 0);
          position: relative;
          transition: all 0.4s ease-in-out;
          max-width: 176px;
          &::after {
            content: "";
            position: absolute;
            inset-inline-start: 4px;
            top: 2px;
            width: calc(100% - 8px);
            height: calc(100% - 4px);
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            background-color: $setting_primary_color;
            transform: translateY(-1px);
            transition: all 0.4s ease-in-out;
          }
        }
        &:hover {
          .btn-arrow {
            transform: translateY(4px);
            &::after {
              background-color: darken($setting_primary_color, $amount: 20%);
              transform: translateY(1px);
              height: calc(100% - 6px);
              width: calc(100% - 20px);
              inset-inline-start: 10px;
            }
          }
        }
      }
    }
  }
}
